* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Coromont;
  transition: 300ms all ease;
}

.contactus-container {
  margin: 4% 5% 5%;
  border: 1px solid var(--black);
  border-radius: 25px;
  padding: 1%;
}
.flex {
  display: flex;
}
.info-container {
  width: 40%;
  border: 1px solid var(--black);
  border-radius: 25px;
  padding: 2%;

  flex-direction: column;
  justify-content: space-around;
}
.info-container h1 {
  font-size: 60px;
}
.info {
  margin: 0;
}
.info a {
  padding: 2% 0 2% 3%;
  text-decoration: none;
  margin: 10px 0 0 8px;
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
  color: var(--black);
}
.info p {
  padding: 2% 0 2% 3%;
  text-decoration: none;
  margin: 10px 0 0 8px;
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
  color: var(--black);
}

.info i {
  margin-right: 3%;
}
.socials {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}
.socials > * {
  color: var(--black);
}
.form-container {
  width: 60%;
  padding: 1% 2%;
}
.form-container h1 {
  font-size: 50px;
  padding: 5px 0;
}
/* form {
     margin-top: 7%;
  } */
.group {
  position: relative;
  display: inline-block;
  margin: 2em 0 0;
}
.group:nth-child(2n) {
  position: relative;
  display: inline-block;
  margin: 1em 0 0 0.5em;
}
.group:nth-child(3n) {
  margin: 1em 0 0;
}
.group > label {
  padding: 0 0.2em;
  position: absolute;
  top: -0.7em;
  left: 1em;
  background-color: var(--porcelain);
  color: var(--black);
  font-size: 18px;
  z-index: 2;
}

.group > input,
.iti--allow-dropdown input[type="tel"] {
  padding: 0.8em;
  width: 23.7vw;
  height: 4em;
  border-radius: 0.5em;
  border: 1px solid var(--black);
  outline: none;
  background: transparent;
  color: var(--black);
  font-family: Garamond;
}
.iti--allow-dropdown input[type="tel"] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}

.group > input:focus,
.iti--allow-dropdown input[type="tel"]:focus {
  border-color: #0c8346;
}

.group > input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

form h4 {
  color: #fff;
  margin-top: 1em;
}

.marker {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0 5px 0 10px;
}

input[type="radio"]:checked + .lbl-radio {
  border-color: #0c8346;
}

input[type="radio"]:checked + .lbl-radio > .marker {
  border: 4px solid #0c8346;
}

input[type="radio"] {
  display: inline;
  visibility: visible;
  opacity: 0;
  position: absolute;
}
input[type="radio"]:focus + .lbl-radio > .marker {
  border: 4px solid #0c8346;
}

#submit {
  float: right;
  margin-top: 0.8em;

  background-color: #0c8346;
  color: #fff;

  height: 3.3em;
  border-radius: 0.5em;
  border: 2px solid #0c8346;
  text-align: center;
  font-size: 16px;
}

.alert-info {
  color: #0c8346;
  font-size: 14px;
}

.alert-error {
  color: #a94442;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 26% 3% 5%;
  }
  .info-container {
    width: 90vw;
  }
  .info {
    margin: 7% 8px 12%;
  }
  .socials {
    position: initial;
    margin: 0 8%;
  }
  .socials i {
    margin-right: 1.5em;
  }
  .form-container {
    width: 90vw;
  }
  .group,
  .group:nth-child(3n) {
    display: block;
    margin: 2em 0 0 1em;
  }

  .group > input,
  .iti--allow-dropdown input[type="tel"] {
    width: 75vw;
  }
  .radio-container {
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 2em;
  }
  #submit {
    float: left;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .radio-container {
    gap: 7px;
  }
}
