.footer {
  background-color: var(--rf-blue);
  padding: 2% 2% 1%;
  color: #faf8f6;
}
.container-fluid {
  padding: 0 !important;
}
.footer-header {
  font-size: 2.5rem;
  color: var(--porcelain) !important;
}
.footerBtn {
  height: 48px;
  padding: 10px 24px;
  border-radius: 6px;
  border: 1px solid rgba(31, 59, 33, 0.4);
  outline: 0;
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  font-size: 16px;
  line-height: 18px;
  color: #faf8f6;
}
.footerBtn a {
  text-decoration: none;
  color: var(--black);
}
.footerBtnWhite {
  height: 48px;
  padding: 10px 24px;
  border-radius: 6px;
  border: 1px solid;
  outline: 0;
  font-size: 16px;
  line-height: 18px;
  margin-right: 40px;
  text-decoration: none;
}
.footerBtn:hover {
  background-color: var(--primaryButtonColorHover);
  border-color: var(--primaryButtonColorHover);
  /* background-color: #fefefe; */
  transition: 1s;
}
.footerBtnWhite a {
  text-decoration: none;
  color: var(--porcelain);
}
.footer-hr {
  border-top: 1px dashed #fefefe !important;
  width: 100% !important;
}
.footer-sitemap {
  margin-right: 2%;
  gap: 1rem;
}
.footer-sitemap .col h5 {
  opacity: 0.6;
  font-size: 1rem;
  letter-spacing: -0.0014em;
  color: var(--porcelain) !important;
}
.footer-sitemap .col ul {
  padding: 0;
}
.footer-sitemap .col ul li {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.0016em;
  list-style: none;
  font-family: Coromond;
  color: var(--porcelain) !important;
  opacity: 80%;
}
.footer-sitemap .col ul li a {
  text-decoration: none;
  color: var(--porcelain) !important;
}
.footer-socials {
  gap: 12px;
  flex-wrap: nowrap;
  margin: 0;
}

.footer-socials .col a {
  color: #faf8f6;
}

.footer-bottom > *,
.footer-bottom > * a {
  color: #faf8f6;
  font-size: 0.75rem;
}
