.header {
  background: var(--honeydue);
  font: bold 1.2rem Cormorant;
  color: var(--logo) !important;
}

.navbar-logo {
  width: 6rem;
  margin-left: 2%;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.nav-link,
.nav-item,
.navbar-nav a,
.navbar-brand a {
  color: var(--logo) !important;
  text-decoration: none;
  align-self: center;
}

.offcanvas-body {
  background: var(--honeydue);
}

.dropdown-item a {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 2%;
  }
  .navbar-brand-logo-md {
    display: none !important;
  }
}

@media only screen and (min-width: 576px) {
  .header {
    padding: 0;
  }
  .navbar-logo,
  .navbar-brand {
    display: none;
  }
  .navbar-brand-logo-md {
    display: block;
    transition: width smooth 1s;
  }
  .navbar-logo-md {
    /* width: 8rem; */
  }

  .navbar-expand-sm .navbar-collapse {
    justify-content: center;
  }
}
