.header {
  background: var(--honeydue);
  font-family: Cormorant;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--logo) !important;
}

.navbar-logo {
  width: 6rem;
  margin-left: 2%;
}
.navbar-toggler {
  border: none !important;
  box-shadow: 0 !important;
}
.nav-link,
.nav-item {
  align-self: center;
}
.offcanvas-body {
  background: var(--honeydue);
}
.dropdown-item a {
  text-decoration: none;
}
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .header {
    padding: 2%;
  }
  .navbar-logo-sm,
  .navbar-logo-link-sm {
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up)  */
@media only screen and (min-width: 576px) {
  .header {
    padding: 0;
  }
  .navbar-logo,
  .navbar-brand,
  .navbar-logo-link-sm {
    display: none;
  }
  .navbar-logo-sm {
    display: block;
    transition: width 1s smooth;
  }
  .navbar-expand-sm .offcanvas .offcanvas-body {
    justify-content: center;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) {
    .navbar-expand-sm .offcanvas .offcanvas-body {
      justify-content: center;
    }
    .navbar-expand-sm .navbar-nav {
      flex-grow: 0.5;
    }
    .navbar-expand-sm .navbar-nav {
      gap: 2rem;
    }
  }
}
