@font-face {
  font-family: Cormorant;
  src: url(assets/typeface/Cormorant.otf);
}
@font-face {
  font-family: Garamond;
  src: url(assets/typeface/Garamomd.TTF);
}
* {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cormorant;
  color: var(--black) !important;
}

:root {
  /**
   * colors
   */
  --honeydue: #d3dfd5;
  --porcelain: #fffefc;
  --porcelain-alt: ##fffef9;
  --rf-blue: #02384c;
  --black: #292827;
  --logo: #4c473d;
  box-sizing: border-box;
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

a {
  text-decoration: none;
  color: var(--black);
}
ul {
  padding-inline-start: 0;
  padding-left: 0 !important;
}
li {
  list-style: none;
  font-family: Garamond;
}
p {
  font-family: Garamond;
}
hr {
  border-top: 1px dashed var(--black) !important;
  width: 60%;
  margin: 0.5rem auto !important;
}
input {
  display: block;
  width: 100%;
  font-family: Garamond;
}

input::-webkit-input-placeholder {
  font-family: Garamond;
}

input::-moz-placeholder {
  font-family: Garamond;
}

input:-ms-input-placeholder {
  font-family: Garamond;
}

input::-ms-input-placeholder {
  font-family: Garamond;
}

input::placeholder {
  font-family: Garamond;
}
body {
  background: var(--porcelain);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

/**
 * scrollbar style
 */
/* 
body::-webkit-scrollbar {
  display: none;
} */

/* body::-webkit-scrollbar-thumb {
  background: var(--honeydue);
  width: 1px;
} */
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background: var(--honeydue);
}
